body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000;
    color: #fff;
}

header {
    margin: 20px 0;
}

#game-container {
    margin: 20px auto;
}

#game-list {
    margin: 20px 0;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0095DD;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #007bb5;
}